### Data Preprocessing
Here we prepare the dataset for our reinforcement learning algorithms by performing:
- Log transformation for volume
- Min-Max normalization of features
- Splitting the dataset into training (2010-2018) and testing (2019-2021) sets
- Sorting by date and ticker

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# Load dataset
file_path = 'trading.csv'  
df = pd.read_csv(file_path)

# Convert datadate to datetime (for sorting and splitting)
df['datadate'] = pd.to_datetime(df['datadate'], format='%Y%m%d')

# Filter only AAPL rows
df = df[df['tic'] == 'AAPL']

# Sort by date and ticker symbol
df = df.sort_values(by=['datadate', 'tic'])

# Compute 50-day rolling average on a specific column (e.g., 'close' price)
df['20_day_MA'] = df['adjcp'].rolling(window=20).mean()
df['20_day_MA'] = df['20_day_MA'].fillna(0)

# Split dataset into training (2010-2018) and testing (2019-2021)
# Don't randomly split b/c time series data, supposed to to preserve order.
train_df = df[(df['datadate'] >= '2010-01-01') & (df['datadate'] < '2019-01-01')]
test_df = df[(df['datadate'] >= '2019-01-01') & (df['datadate'] < '2022-01-01')]

# Save datasets
train_df.to_csv('train_data.csv', index=False)
test_df.to_csv('test_data.csv', index=False)

df.head()

,Unnamed: 0,datadate,tic,adjcp,open,high,low,volume,macd,rsi,cci,adx,turbulence,20_day_MA,20_dat_MA
0,0,2009-01-02,AAPL,12.964286,12.268571,13.005714,12.165714,26641980.0,0.000000,100.000000,66.666667,100.000000,0.0,NaN,0.0
30,30,2009-01-05,AAPL,13.511429,13.310000,13.740000,13.244286,42187570.0,0.012276,100.000000,66.666667,100.000000,0.0,NaN,0.0
60,60,2009-01-06,AAPL,13.288571,13.707143,13.881429,13.198571,46038530.0,0.008731,70.355356,45.847589,100.000000,0.0,NaN,0.0
90,90,2009-01-07,AAPL,13.001429,13.115714,13.214286,12.894286,26890770.0,-0.003463,50.429216,-30.767206,43.608258,0.0,NaN,0.0
120,120,2009-01-08,AAPL,13.242857,12.918571,13.307143,12.862857,23670270.0,-0.000408,60.227007,-8.239643,48.358160,0.0,NaN,0.0